{% extends 'lab_5/base.html' %}

{% block title %}Оформление проката{% endblock %}

{% block content %}
<h1>Оформить прокат автомобиля</h1>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Подтвердить заказ и рассчитать стоимость</button>
    </form>
    <p><a href="{% url 'lab_5:profile' %}">Назад в личный кабинет</a></p>
{% else %}
    <p>Для оформления проката нужно <a href="{% url 'lab_5:login' %}">войти в аккаунт</a>.</p>
{% endif %}
{% endblock %}
